@tailwind base;
@tailwind components;
@tailwind utilities;

@import "aos/dist/aos.css";

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@layer components {
  .nowNotActive {
    color: rgb(0 0 0);
    background-color: rgb(203 213 225);
    opacity: 0.5;
  }
}

@layer components {
  .historyNotActive {
    border-bottom: none;
    background-color: rgb(203 213 225);
    opacity: 0.5;
  }
}

@layer components {
  .buyActive {
    color: rgb(248 113 113);
  }
}

@layer components {
  .sellActive {
    color: rgb(96 165 250);
  }
}

@layer components {
  .buySellNotActive {
    background-color: rgb(203 213 255);
    color: rgb(0 0 0);
  }
}

@layer components {
  .redText {
    color: rgb(248 113 113);
  }
}

@layer components {
  .blueText {
    color: rgb(96 165 250);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1.25rem);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1.25rem);
  }
}

.indicator {
  transition: left 0.7s;
}

@import "~aos/dist/aos.css";

.custom-transform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
